<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/estilos.css" />
  </head>
  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each skaters}}
          <form action="/admin" method="POST">
            <tr>
              <th scope="row">{{id}}</th>
              <td>
                <img
                  src="{{foto}}"
                  alt="Foto de {{nombre}}"
                  style="width: 200px"
                />
              </td>
              <td>{{nombre}}</td>
              <td>{{anos_experiencia}}</td>
              <td>{{especialidad}}</td>
              <td>
                <input type="checkbox" {{#if estado}}checked{{/if}}
                name="estado" />
              </td>
              <td>
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="Actualizar"
                />
              </td>
            </tr>
            <input type="hidden" name="id" value="{{this.id}}" />
            <input type="hidden" name="token" value="{{../token}}" />
          </form>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>
